Latex/article.aux
Latex/.DS_Store
Latex/article.log
Latex/article.out
Latex/article.spl
Latex/article.synctex.gz
.DS_Store
Latex/MotivationAndSignificance.aux
Matlab/tmpSend.xml
Matlab/tmpSend2.xml
Latex/SoftwareDescription.log
Doc/Manual/manual.aux
Doc/Manual/manual.log
Doc/Manual/manual.out
Doc/Manual/manual.spl
Doc/Manual/manual.synctex.gz
Doc/Manual/Introduction.log
